

*{
    margin: 0px;
    border: border-box;
}
body{
    background-color: #000;
}
.heading{
    color:white;
    display: flex;
    justify-content:center;
    font-family: Algerian;
    font-size: 2rem;
}
.navbar{
    display: flex;
    background-color:#FF2121 ;
    height: 60px;
    justify-content:space-evenly;
}
.home{
    background-color: #000;
    color: white;
    height: 60px;
    width: 60px;
    text-align: center;
}
.homeicon{
    justify-content:space-around;
    background-color: #000;
    display: flex;
    margin-top: 8px;
}
.home:hover{
    border: 2px solid white;
    border-radius: 20%;
}
.feature{
    background-color: #000;
    color: white;
    height: 60px;
    width: 80px;
    text-align: center;
}
.featureicon{
    justify-content:space-around;
    background-color: #000;
    display: flex;
    margin-top: 8px;
}
.feature:hover{
    border: 2px solid white;
    border-radius: 20%;
}
.feedback{
    background-color: #000;
    color: white;
    height: 60px;
    width: 110px;
    text-align: center;
}
.feedbackicon{
    justify-content:space-around;
    background-color: #000;
    display: flex;
    margin-top: 8px;
}
.feedback:hover{
    border: 2px solid white;
    border-radius: 20%;
}
.img{
    display: flex;
    height: 600px;
    width: 600px;
    justify-content: center;
    margin-left: 25rem;
}
.content{
    display: flex;
    color: aliceblue;
    justify-content: center;
    font-size: 2rem;

}
p{
    color: aliceblue;
    font-size: larger;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.logo{
    border: 2px solid white;
}